In [1]:
import pandas as pd

In [2]:
import pandas
mydataset = {
    'Cars':["BMW","Volvo","FORD"],
    'Passing':[3,7,2]
}
myvar=pandas.DataFrame(mydataset)
myvar

    Cars  Passing
0    BMW        3
1  Volvo        7
2   FORD        2

In [3]:
import pandas as pd
mydataset = {
    'Cars':["BMW","Volvo","FORD"],
    'Passing':[3,7,2]
}
myvar=pd.DataFrame(mydataset)
myvar

    Cars  Passing
0    BMW        3
1  Volvo        7
2   FORD        2

In [5]:
import pandas as pd
a = [1,7,2]
myvar=pd.Series(a)
myvar

0    1
1    7
2    2
dtype: int64

In [7]:
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a,index=['X','Y','Z'])
myvar

X    1
Y    7
Z    2
dtype: int64

In [8]:
print(myvar['Y'])

7

In [10]:
import pandas as pd
calories={'day1':420,'day2':380,'day3':390}
myvar=pd.Series(calories)
myvar

day1    420
day2    380
day3    390
dtype: int64

In [11]:
import pandas as pd
data={
    'calories':[420,380,390],
    'duration':[50,40,45]
}
myvar=pd.DataFrame(data)
myvar

   calories  duration
0       420        50
1       380        40
2       390        45